.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.signup-card {
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.signin-card {
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.gradient {
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, #fbe9d7 0px, transparent 50%),
    radial-gradient(at 52% 99%, #f6d5f7 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  /* position: absolute;
  content: "";
  filter: blur(100px) saturate(150%);
  top: 80px; */
  opacity: 0.15;
}

.info_card {
  width: 20vw;
  height: 10vh;
  padding: 10px;
  text-align: center;
}
.info_typo {
  color: #4caf50;
}
.info_typo_val {
  color: gray;
}
